@import "./pallette";

body {
  margin: 0;
  padding: 0;
  font-family: $openSans;
  color: white;
  background-color: $primary;
  background-image: url(../images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

header {
  width: 100%;

  .logo {
    width: 135px;
    padding: 25px 60px;
  }
}

main {
  display: flex;
  justify-content: center;
  padding: 0 60px;

  .image-section {
    width: 50%;
    margin-right: 5%;
    display: flex;

    .mockup {
      align-self: center;
      width: 100%;
    }
  }

  .text-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;

    .description {
      max-width: 460px;

      .heading {
        font-family: $poppins;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 0;
      }

      input[type="button"] {
        outline: none;
        border: none;
        margin-top: 10px;
        text-align: center;
        height: 50px;
        width: 180px;
        font-size: 17px;
        background-color: white;
        color: $primary;
        border-radius: 25px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease-in;

        &:hover {
          cursor: pointer;
          background-color: $hoverColor;
          color: white;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.05);
        }
      }
    }

    .social-icons {
      max-width: 460px;
      text-align: right;
      margin-top: 10px;

      a {
        text-decoration: none;
        i {
          display: inline-block;
          color: white;
          border: 1px solid;
          border-radius: 50%;
          font-size: 17px;
          width: 34px;
          padding: 9px 0;
          margin-left: 10px;
          text-align: center;

          &:hover {
            cursor: pointer;
            color: $hoverColor;
          }
        }
      }
    }
  }
}

@media (max-width: 960px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  main {
    .text-section {
      .description {
        .heading {
          margin-top: 0;
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 675px) {
  body {
    background-image: url(../images/bg-mobile.svg);
    background-position: top;
    background-size: contain;
  }

  header {
    .logo {
      padding: 35px 40px 35px;
    }
  }

  main {
    flex-flow: column;
    padding: 0 40px;
    align-content: center;

    .image-section {
      width: 100%;
      margin-bottom: 80px;
    }

    .text-section {
      width: 100%;
      font-size: 15.5px;
      text-align: center;
      align-items: center;

      .description {
        input[type="button"] {
          width: 60%;
          height: 35px;
          font-size: 13px;
        }
      }

      .social-icons {
        margin-top: 60px;
        margin-bottom: 30px;
        text-align: center;

        a i {
          font-size: 13px;
          width: 30px;
          padding: 8px 0;
        }
      }
    }
  }
}
